---
// src/components/About.astro
import { Image } from "astro:assets";
import mptc from "@/assets/images/mptc.jpg";
---

<section id="about" aria-labelledby="about-heading" class="py-16 md:py-24">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-16 items-center">
      <div class="lg:order-2 space-y-5">
        <figure>
          <Image
            src={mptc}
            alt="MPTC building, representing the Ministry of Post and Telecommunications of Cambodia"
            class="w-full h-auto rounded-2xl"
            width={410}
            height={342}
          />
          <figcaption class="sr-only">
            Image of the Ministry of Post and Telecommunications of Cambodia
            building.
          </figcaption>
        </figure>
      </div>
      <div class="lg:order-1">
        <header>
          <h2
            id="about-heading"
            class="text-primary text-[40px] font-bold mb-3"
          >
            About Chaktumok Platform
          </h2>
        </header>
        <article>
          <p class="text-base text-muted-foreground leading-relaxed">
            We are committed to advancing Cambodia’s Post, Telecommunications,
            and ICT sectors by promoting reliable connectivity, accessible
            services, and modern infrastructure. Guided by principles of free
            market and social equity, we support digital transformation, enhance
            government services, empower human capital through education and
            training, and foster innovation through investment and fair
            competition—contributing to national development and poverty
            reduction.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
