---
// src/components/Features.astro
import Image from "astro/components/Image.astro"
import design from "@/assets/images/design.png"
import automate from "@/assets/images/automate.png"
import analytic from "@/assets/images/analytic.png"
---
<section id="features" class="py-20 bg-white">
    <div class=" mx-auto px-4 sm:px-6 lg:px-8 text-center font-sans">
      <h2 class="text-4xl md:text-4xl font-semibold mb-12 text-primary ">Our Features</h2>
      <p class="text-base text-slate-600 font-normal mb-9">Chaktomuk is a secure digital platform designed for government entities, offering vital tools for streamlining workflows, automating tasks, and analyzing operations.</p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 ">
        
          <div class="relative mb-6 max-w-sm mx-auto ">
            <Image 
            src={design}
            alt="Desing image" 
            class="w-full h-auto rounded-lg" 
            width={330}
            height={354} />
            <div class="absolute bottom-0 left-0 backdrop-blur-[1px] p-5">
              <h2 class="text-4xl font-bold text-primary text-center  ">
                Design
              </h2>
              <p class="text-xl text-black  leading-snug">
                Design and configuration of digital workflows easily and effortlessly, 
                build forms, create portals and dashboards — all without writing code.
              </p>
            </div>
          </div>

          <div class="relative mb-6  max-w-sm mx-auto ">
            <Image 
            src={automate}
            alt="Description of image" 
            class="w-full h-auto rounded-lg" 
            width={330}
            height={354} />
            <div class="absolute bottom-0 left-0 backdrop-blur-[1px] p-5">
              <h2 class="text-4xl font-bold text-primary text-center  mb-4">
                Automate
              </h2>
              <p class="text-xl text-black  leading-snug">
                Simplifies work by automating tasks, tracking assignments, managing departments, and securely handling documents
              </p>
            </div>
          </div>

          <div class="relative mb-6 max-w-sm mx-auto ">
            <Image 
            src={analytic}
            alt="Analytic_image" 
            class="w-full h-auto rounded-lg" 
            width={330}
            height={354} />
            <div class="absolute bottom-0 left-0 backdrop-blur-[1px] p-5">
              <h2 class="text-4xl font-bold text-primary text-center  mb-4">
                Analytic
              </h2>
              <p class="text-xl text-black  leading-snug">
                Provides users with real-time insights into staff activity, workflow performance, and departmental operations and analytics tools.
              </p>
            </div>
          </div>
        </div>
          
            
        
    
    </div>
          



