---
import { Image } from "astro:assets";
import logoCtm from "@/assets/logo/logo-ctm.png";
import LanguageSwitcher from "../languageSwitcher.astro";

const { lang } = Astro.props;
---

<nav class="py-4 bg-white border-b border-muted sticky top-0 z-50">
  <div class="mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
    <a
      title="Chaktokmuk Digital Platform"
      href={`/${lang}/`}
      class="flex items-center gap-2"
    >
      <Image
        src={logoCtm}
        alt={"header.logoAlt"}
        class="w-full h-full"
        width={125}
        height={30}
        loading="lazy"
      />
    </a>
    <LanguageSwitcher lang={lang} />
  </div>
</nav>
