---
// src/components/Header.astro
import { Image } from 'astro:assets';

---
<header class="py-4 bg-white border-b border-slate-200 sticky top-0 z-50">
  <div class=" mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
    
    <a href="/" class="flex items-center gap-2">
      <img src="/logo.png" alt="Chaktomuk Logo" class="h-8 w-30" />
    </a>

    <button class="w-8 h-8 rounded-full">
      <Image
        src="/cambodia-flag.png" 
        alt="cambodia-flag"
        class="w-full h-full object-cover"
        width={32}
        height={32}
      />
    </button>
    
  </div>
</header>


