---
import { useTranslations } from "@/i18n/utils";
import type { TypeLang } from "@/lib/types";

import banner from "@/assets/images/banner.png";
import { Image } from "astro:assets";

interface Props {
  lang: TypeLang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section aria-label="Hero section">
  <div class="relative h-full">
    <Image
      src={banner}
      alt="Chaktokmuk Digital Platform banner"
      width={1440}
      height={578}
      class="w-full object-cover min-h-[400px] md:min-h-[578px] max-h-full"
      loading="eager"
      priority
    />
    <div
      class="absolute inset-0 z-10 w-full h-full bg-gradient-to-r from-white to-transparent"
    >
      <div class="container h-full flex flex-col justify-center space-y-4">
        <header class="space-y-4">
          <h1 class="text-5xl md:text-6xl font-bold text-primary leading-tight">
            {t("hero.title.1")}
            <br />
            {t("hero.title.2")}
          </h1>
          <p class="text-base text-muted-foreground italic">
            {t("hero.quote")}
          </p>
        </header>
        <article class="text-base text-foreground max-w-4xl">
          {t("hero.description")}
        </article>
      </div>
    </div>
  </div>
</section>
