---
import { Image } from "astro:assets";
import homepage from "@/assets/images/homepage.jpg";
import { useTranslations } from "@/i18n/utils";
import type { TypeLang } from "@/lib/types";

interface Props {
  lang: TypeLang;
}

const { lang } = Astro.props as Props;
const t = useTranslations(lang);
---

<header id="hero" aria-label="hero-header" class="pt-20 md:pt-28">
  <div
    class="container flex flex-col items-center justify-center text-center px-4 sm:px-6 lg:px-8 lg:w-1/2 md:w-2/3 w-full"
  >
    <h1 id="hero-header">
      {t("hero.title.1")}
      <span class="bg-primary text-white px-3 py-1 rounded-xl">
        {t("hero.title.2")}
      </span>
    </h1>
    <p id="hero-description" class="sm:text-lg text-base text-muted-foreground">
      {t("hero.description")}
    </p>
  </div>

  <figure class="mt-15 mx-auto w-full max-w-full">
    <Image
      src={homepage}
      alt={t("hero.description")}
      width={1280}
      height={853}
      class="w-full h-full"
      aria-labelledby="hero-header"
      loading={"eager"}
    />
  </figure>
</header>
