---
import { stateNumberDisplay, states } from "@/constants/statistic";
import StateCard from "../StateCard.astro";
import type { TypeLang } from "@/lib/types";

interface Props {
  lang: TypeLang;
}

const { lang } = Astro.props as Props;
---

<section aria-label="stats" class="container mx-auto my-20">
  <div class="flex justify-around items-center flex-wrap gap-12">
    {
      states.map((state) => (
        <StateCard
          title={state.title}
          count={stateNumberDisplay(state.count)}
          lang={lang}
        />
      ))
    }
  </div>
</section>
