---
// src/components/Stats.astro
---

<section class="my-16 bg-white font-sans">
  <div class="container mx-auto">
    <div
      class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 text-center font-bold gap-5"
    >
      <div>
        <p class="text-5xl text-secondary">340+</p>
        <p class="text-primary text-2xl">Users</p>
      </div>
      <div>
        <p class="text-5xl text-secondary">3.34k+</p>
        <p class="text-primary text-2xl">Processed Flows</p>
      </div>
      <div class="lg:col-span-1 md:col-span-2">
        <p class="text-5xl text-secondary">502k+</p>
        <p class="text-primary text-2xl">Total Processes</p>
      </div>
    </div>
  </div>
</section>
