---
// src/components/Stats.astro

import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";
import { stateNumberDisplay, states } from "@/constants/statistic";
import StateCard from "../StateCard.astro";
const lang = Astro.params.lang as keyof typeof languages;
const t = useTranslations(lang);
---

<section aria-label="stats" class="container mx-auto my-20">
  <div class="flex justify-around items-center flex-wrap gap-12">
    {
      states.map((state) => (
        <StateCard
          key={state.title}
          title={state.title}
          count={stateNumberDisplay(state.count)}
          header={state.title}
        />
      ))
    }
  </div>
</section>
