---
import { Image } from 'astro:assets';

// src/components/TrustedBy.astro
---
<section class="py-16 bg-box">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
      <h3 class="text-[32px] font-semibold uppercase text-primary mb-8">Trusted By</h3>
      <div class="flex flex-wrap justify-center items-center gap-x-12 gap-y-8">
        <Image src="/public/logo-mptc.png" alt="MPTC Logo" width={158}
        height={151}/>
        <Image src="/public/dgc.svg" alt="DGC Logo" width={158}
        height={151}/>
        <Image src="/public/logo-trc.png" alt="DGC Logo" width={113}
        height={105}/>
        <Image src="/public/logo-cadt.png" alt="MPTC Logo" width={224.25}
        height={133}/>
        <Image src="/public/logo-cp.png" alt="CP Logo" width={110}
        height={106}/>
        <Image src="/public/logo-tc.png" alt="TC Logo" width={124}
        height={119}/>
        


      </div>
    </div>
  </section>
  