---
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { useTranslations } from "../i18n/utils";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title: string;
  description?: string;
  lang: TypeLang;
}

const { title, description, lang } = Astro.props;
const ImageURL = new URL("/assets/logo/ctm-icon.png", Astro.url).href;
const t = useTranslations(lang);

import "../styles/global.css";
import type { TypeLang } from "@/lib/types";
---

<html lang={lang}>
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      ogImage={ImageURL}
    />
  </head>
  <body>
    <Header lang={lang} />
    <main>
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
